{% extends "layout.html" %}
{% block body %}
<section class="about_section padding">
    <div class="container">
        <div class="col-md-4 col-sm-6 xs-padding">
            <div class="about_content">
                <h2>{{data[1]}}</h2>
                <p>{{data[2]}} </p>                
            </div>
        </div>
        <div class="col-md-6 col-sm-6 xs-padding">
            <div class="about_image">
                <img src="{{ url_for('static',filename='img/uploads/'+data[4])}}" alt="about-image">
            </div>
        </div>
        <div class="col-md-2 col-sm-12 xs-padding"> 
            <ul class="funfact">
                <li class="fact_content">
                    <span class="counter">183</span>
                    <h4>Projects Done</h4>
                </li>
                <li class="fact_content">
                    <span class="counter">945</span>
                    <h4>Hours Works</h4>
                </li>
                <li class="fact_content">
                    <span class="counter">74</span>
                    <h4>Satisfide Clients</h4>
                </li>
                <li class="fact_content">
                    <span class="counter">23</span>
                    <h4>Expert Member</h4>
                </li>
            </ul>
        </div>
        
        <div class="col-md-12 col-sm-12"> 
            {{data[3]}}
        </div>
    </div>
</section>
{% endblock %}