{% extends "layout.html" %}
{% block body %}

<section id="blog" class="blog_section padding">
    <div class="container">
        <div class="blog_content">
            <img src="{{ url_for('static',filename='img/blog-1.jpg')}}" alt="Our Blog" style="width: 100%;">
            <h2><a href="#"><hr>Fasion Meets Furniture.</a><hr></h2>
            <p>Browse the collection of our new products, You definitely find what you are looking for.</p>
            <p>Lorem Ipsum is simply dummy text of printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>Lorem Ipsum is simply dummy text of printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <!-- <a href="#">READ MORE</a> -->
        </div>
    </div>
</section>

{% endblock %}