
{% extends "dashboard-layout.html" %}
{% block body %}
<div class="row">
    <div class="col-md-10">
    <h3>About</h3>
    </div>
  <div class="col-md-2">
    <a href="/dashboard-about-edit/1"><button class="btn btn-primary float-right">Edit</button></a>
  </div>
</div>
  <hr>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="body" placeholder="Title" value="{{data[1]}}" readonly>
  </div>
  <div class="form-group">
    <label for="head">Head</label>
    <textarea class="form-control" id="head" name="head" rows="3" readonly> {{ data[2] }} </textarea>
  </div>
  <div class="form-group">
    <label for="body">body</label>
    <textarea class="form-control" id="body" name="body" rows="6" readonly> {{ data[3] }} </textarea>
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <div><img class="img" width="80" height="80" src="{{url_for('static',filename='img/uploads/'+data[4])}}"></div>
  </div>

{% endblock %}