
{% extends "dashboard-layout.html" %}
{% block body %}
<div class="row">
    <div class="col-md-10">
        <h3>Contacts</h3>
    </div>
</div>
  <!-- <hr> -->
   <div class="">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Sr.No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
        {% set i=1 %}
        {% for contact in data %}
          <tr>
            <td>{{contact[0]}}</td>
            <td>{{contact[1]}}</td>
            <td>{{contact[2]}}</td>
            <td>{{contact[3]}}</td>
          </tr>
          {% set i = i+1 %}
        {% endfor %}
        </tbody>
      </table>
   </div>
{% endblock %}