{% extends "layout.html" %}
{% block body %}
<section id="blog" class="blog_section padding">
    <div class="container">
        <div class="blog_content">
            <img src="{{ url_for('static',filename='img/uploads/'+data[5])}}" alt="{{data[1]}}" style="width: 100%;">
            <h2><a href="#"><hr>{{data[1]}}.</a><hr></h2>
            <p><b><i>{{data[3]}}</i></b></p>
            <p>{{data[4]}}</p>
            <!-- <a href="#">READ MORE</a> -->
        </div>
    </div>
</section>

{% endblock %}