{% extends "layout.html" %}
{% block body %}
<section id="services" class="service_section padding">
    <div class="container">
        <div class="section_heading align-center mb-40">
            <h2>Industrial Services</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <ul class="service_items">
            {% for services in data %}
            <li class="col-md-4 col-xs-6">
                <div class="service_item">
                    <img src="{{ url_for('static',filename='img/uploads/'+services[5])}}" alt="service-image" height="200">
                    <a href="/services/{{services[2]}}">
                        <div class="service_content">
                            <h4>{{services[1]}}</h4>
                            <p>{{services[3][:130]}}...</p>
                        </div>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}